{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="col-sm-2">

</div>
<div class="col-sm-8">
    <div class="row mb-3">
        <div class="col-sm-4">
            <h1 class="">Manage Access</h1>
        </div>
        <div class="col-sm-8 pt-2">
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <h4>Add Access</h4>
        </div>
        <div class="card-body">
            <form action="/admin/users/add-access" method="post">

                <h4>Member Form</h4>
                <div class="form-group row">
                    <label for="inputLoanId" class="col-sm-4 col-form-label">Access Right Number</label>
                    <input type="text" class="col-sm-8 form-control-plaintext" id="inputLoanId" name="access_number"
                        placeholder="Number" autofocus value="{{ access.access_number }}" required />
                </div>
                <div class="form-group row">
                    <label for="inputLoanId" class="col-sm-4 col-form-label">Access Name</label>
                    <input type="text" class="col-sm-8 form-control-plaintext" id="inputLoanId" name="access_name"
                        placeholder="Name" autofocus value="{{ access.access_name }}" required />
                </div>
        
                <div class="form-group row">
                    <label for="inputLoanId" class="col-sm-4 col-form-label">Access Description</label>
                    <input type="text" class="col-sm-8 form-control-plaintext" id="inputLoanId" name="access_description"
                        placeholder="information" autofocus value="{{ access.access_description }}" required />
                </div>
        
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <button type="submit" class="col-sm-8 btn btn-success">Add</button>
                </div>
            </form>

            
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            {% for access in accesses %}
            <tr>
                <td>
                    {{ access.access_rights_id }}
                </td>
                <td>
                    {{ access.access_name }}
                </td>
                <td>
                    {{ access.description }}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}