{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-body d-flex">
                <h3 class="">Manage Access</h3>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12 mb-5">
        <div class="card">
            <div class="card-header d-flex">
                <h4>Access Rights</h4>

                <button class="btn btn-success ml-auto" data-toggle="modal" data-target=".add-access">Add
                    Access</button>
            </div>
            <div class="table-responsive">
                <table class="table text-center table-flush">
                    <thead class="font-weight-bold">
                        <tr>
                            <th>
                                Number
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for access in accesses %}
                        <tr>
                            <td>
                                {{ access.access_rights_id }}
                            </td>
                            <td>
                                {{ access.access_name }}
                            </td>
                            <td>
                                {{ access.description }}
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm add-access" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="card-header">
                <h4>Add Access</h4>
            </div>
            <div class="card-body">
                <form action="/admin/users/add-access" method="post">

                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Access Right
                            Number</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="access_number" placeholder="Number" autofocus value="{{ access.access_number }}"
                            required />
                    </div>
                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Access Name</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="access_name" placeholder="Name" autofocus value="{{ access.access_name }}" required />
                    </div>

                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Access
                            Description</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="access_description" placeholder="information" autofocus
                            value="{{ access.access_description }}" required />
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-md-12 col-xl-4"></div>
                        <button type="submit" class="col-sm-8 col-md-12 col-xl-8 btn btn-success">Add</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock %}