{% extends 'base.html' %}

{% block title %}Admin - Groups{% endblock %}

{% block body %}

<div class="row mb-4">
    <div class="col-sm-12 text-center">
        <h1 class="">Manage Group</h1>
    </div>
    <div class="col-sm-4">

        <div class="card mb-4">
            <div class="card-header">
                <h4>Add Group</h4>
            </div>
            <div class="card-body">
                <form action="/admin/users/add-groups" method="post">


                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Group Name</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="group_name" placeholder="Name" autofocus value="{{ group.group_name }}" required />
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-md-12 col-xl-4"></div>
                        <button type="submit" class="col-sm-8 col-md-12 col-xl-8 btn btn-success">Add</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <style>
            .member-records {
                width: 100%;
                overflow: auto;
                white-space: nowrap;
                overflow-x: scroll;
                overflow-y: visible;

                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0, 0, 0, .125);
                border-radius: .25rem;
                box-sizing: border-box;
            }
        </style>

        <div class="member-records">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>
                            {{ group.group_id }}
                        </td>
                        <td>
                            {{ group.group_name }}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}