{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block body %}


<div class="row">
    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-body d-flex">
                <h3 class="">Manage Member</h3>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 col-lg-12 mb-5">
        <div class="card">
            <div class="table-responsive">
                
                <div class="d-flex m-3">
                    <h4>Members list</h4>

                    <button class="btn btn-success ml-auto" data-toggle="modal" data-target=".add-member">Add
                    member</button>
                </div>

                <table class="table text-center table-flush">
                    <thead class="font-weight-bold">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Account
                            </th>
                            <th>
                                Access Rights
                            </th>
                            <th>
                                Groups
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                            <td>
                                {{ member.name }}
                            </td>
                            <td>
                                {{ member.email }}
                            </td>
                            <td>
                                {{ member.access_rights }}
                            </td>
                            <td>
                                {{ member.belonging_group }}
                            </td>
                            <td>
                                <!--
                                <button type="button" class="btn btn-primary"
                                onclick="window.location.href='/admin/users/members/{{ member.id }}'">Update</button>
                            -->
                                <button type="button" class="btn btn-warning user-edit" data-toggle="modal"
                                    data-target=".user-edit-form" data-id="{{ member.id }}"
                                    data-name="{{ member.name }}" data-access_rights="{{ member.access_rights }}"
                                    data-group="{{ member.belonging_group }}">Edit</button>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination page_list justify-content-center pt-3">

                    </ul>
                </nav>

                    {% set pages = members_count / 10 %}

                    {% set total_pages = pages|round %}

                    {% if total_pages != 0 %}

                    <ul class="pagination page_list justify-content-center pt-3">
                        {% if current_page > 1%}

                        {% set prev_page = current_page - 1%}

                        {% if prev_page != 0 %}
                        <li class='page-item '><a class='page-link'
                                href="/ControlPanel/members{{ status |replace({' ': ''}) }}/{{ prev_page }}">Previous</a></li>
                        {% endif%}

                        {% endif%}

                        {% set range = 2%}

                        {% set prev_pages = current_page - range %}

                        {% if prev_pages == 0 %}

                        {% set prev_pages = prev_pages + 1 %}

                        {% endif%}

                        {% if (prev_pages > 0) or ( prev_pages == 1)  %}

                        {% for page in prev_pages..current_page %}

                        {%if page != current_page %}
                        <li class='page-item '><a class='page-link'
                                href="/ControlPanel/members{{ status |replace({' ': ''}) }}/{{ page }}">{{page}}</a></li>

                        {% endif%}
                        {% endfor %}
                        {% endif%}

                        {% for page in 1..total_pages %}

                        {%if page == current_page %}
                        <li class='page-item disabled'> <b class='page-link bg-success'>{{page}}</b> </li>

                        {% endif%}
                        {% endfor %}

                        {% set next_pages = current_page + range %}

                        {% if next_pages > total_pages %}

                        {% set next_pages = next_pages - 1 %}

                        {% endif%}

                        {% if (total_pages > next_pages) or (total_pages == next_pages) %}
                            {% for page in current_page..next_pages %}
                                {%if page != current_page %}
                                <li class='page-item '><a class='page-link'
                                        href="/ControlPanel/members{{ status |replace({' ': ''}) }}/{{ page }}">{{page}}</a></li>

                                {% endif%}
                            {% endfor %}
                        {% endif%}


                        {% if (pages > current_page)  %}

                            {% set next_page = current_page + 1%}

                            <li class='page-item '><a class='page-link'
                                    href="/ControlPanel/members{{ status |replace({' ': ''}) }}/{{ next_page }}">Next</a></li>

                            {% endif%}

                    </ul>
                    {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm add-member" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="card-header">
                <h4>Add Member</h4>
            </div>
            <div class="card-body">
                <form action="/admin/users/add-member" method="post">
                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Last Name</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="member_lastname" placeholder="Last Name" autofocus
                            value="{{ announcement.announcement_title }}" required />
                    </div>

                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">First Name</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="member_firstname" placeholder="First Name" autofocus
                            value="{{ announcement.announcement_title }}" required />
                    </div>

                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Middle
                            Initial</label>
                        <input type="text" class="col-sm-8 col-md-12 col-xl-8 form-control-plaintext" id="inputLoanId"
                            name="member_middleinitial" placeholder="Middle Initial" autofocus
                            value="{{ announcement.announcement_title }}" required />
                    </div>

                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Access
                            Rights</label>
                        <select id="" class="col-sm-8 col-md-12 col-xl-8 form-control" name="member_access" required>
                            <option value=""></option>
                            {% for access in accesses %}
                            <option value="{{ access.access_rights_id}}">{{ access.access_name}} </option>
                            {% endfor%}
                        </select>
                    </div>

                    <div class="form-group row">
                        <label for="inputLoanId" class="col-sm-4 col-md-12 col-xl-4 col-form-label">Group</label>
                        <select id="" class="col-sm-8 col-md-12 col-xl-8 form-control" name="member_group">
                            <option value=""></option>
                            {% for group in groups %}
                            <option value="{{ group.group_id}}">{{ group.group_name}} </option>
                            {% endfor%}
                        </select>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-md-12 col-xl-4"></div>
                        <button type="submit" class="col-sm-8 col-md-12 col-xl-8 btn btn-success">Add</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>



<div class="modal fade user-edit-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form action="/admin/users/edit-member" method="post">
                <div class="modal-header">
                    <h5>Edit Member</h5>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">I.D</label>
                    <input type="text" class="form-control id" name="id" disabled>
                    <input type="hidden" class="form-control id" name="id">

                    <label class="col-form-label">Name</label>
                    <input type="text" class="form-control name" name="name" disabled>
                    <input type="hidden" class="form-control name" name="name">

                    <label class="col-form-label">Access Rights</label>
                    <select class="form-control access_rights" name="access_rights">
                        <option value=""></option>
                        {% for access in accesses %}
                        <option value="{{ access.access_rights_id}}">{{ access.access_name}} </option>
                        {% endfor%}
                    </select>

                    <label class="col-form-label">Group</label>
                    <select class="form-control group" name="group">
                        <option value=""></option>
                        {% for group in groups %}
                        <option value="{{ group.group_id}}">{{ group.group_name}} </option>
                        {% endfor%}
                    </select>


                    <button type="submit" class="btn btn-success mt-4">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $(document).on('click', '.user-edit', function () {
        let id = $(this).data('id');
        let name = $(this).data('name');
        let access_rights = $(this).data('access_rights');
        let group = $(this).data('group');

        console.log(name);
        $('input.id').val(id);
        $('input.name').val(name);
        $('select.access_rights').val(access_rights);
        $('select.group').val(group);
    });
</script>
{% endblock %}