{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block footer %}
    <script src="/loan/public/js/hideShowPassword.min.js"></script>
    <script src="/loan/public/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

<div class="col-lg-3"></div>
<div class="col-lg-6">
    <h1>Reset password</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" id="formPassword" action="/loan/public/password/reset-password">

        <input type="hidden" name="token" value="{{ token }}" />

        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required />
        </div>

        <button type="submit">Reset password</button>

    </form>
</div>
{% endblock %}


