{% extends 'base.html' %}

{% block title %} {{ user_info.name }} {% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 col-lg-12 col-xl-12 mb-5">

        <div class="card">

            <div class="card-body">

                <h4>Hi, {{ user_info.name }}!</h4>

                <p class="pt-4">
                    Welcome to our system, your savings are monitored here better than you expect.
                </p>

            </div>
        </div>

    </div>



</div>

<div class="row">

    <div class="col-12 col-lg-6 col-xl-6 mb-5">
        <div class="card bg-primary">
            <div class="card-body p-5">
                <h5>Check your Contributions <a href="/home/mycontribution">here</a></h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-6 mb-5">
        <div class="card bg-primary">
            <div class="card-body p-5">
                <h5>Check your Borrowed <a href="/home/myborrow">here</a> </h5>
            </div>

        </div>
    </div>


</div>


{% if user_info.access_rights == 2 %}
<div class="row">

    <div class="col-12 col-lg-6 col-xl-6">
        <div class="card bg-info">
            <div class="card-body p-5">
                <h5>Check your Group Data <a href="/home/mygroup">here</a></h5>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!--  To be manage 2/10/2020
    
{% if current_user %}
    {% if current_user.access_rights == 0 %}
    {% include 'LoanRecords.html '%}

    {% elseif current_user.access_rights == 1 %}

    {% include 'ContriRecords.html '%}
    {% include 'LoanRecords.html '%}

    {% elseif current_user.access_rights == 2 %}

    {% include 'GroupRecords.html '%}

    {% elseif current_user.access_rights == 9 %}

    {% endif %}
    {% endif %}
-->
{% endblock %}