{% extends 'base.html' %}

{% block title %}Home - Group Leader{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 col-lg-6 col-xl-4 mb-5">
        <div class="card">
            <div class="card-body">
                <h4 class="text-right">{{ group_info[0].group_contributions }}</h4>
                <h5>Total Contributions</h5>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-5">
        <div class="card">
            <div class="card-body">
                <h5>Total Interest</h5>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-5">
        <div class="card">
            <div class="card-body">
                <h5>Total Contribution w/ Interest</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12 col-lg-12 mb-5">
        <div class="card">
            <div class="card-header">
                <h5>Members</h5>
            </div>
            <div class="table-responsive">
                <table class="table text-center table-flush">
                    <thead class="font-weight-bold">
                        <tr>
                            <td>Members</td>
                            <td>Total Contributions</td>
                            <td>Total Interest</td>
                            <td>Total Contributions w/ Interest</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members_info %}
                        <tr>
                            <td>
                                <a href="/members/view/{{member.id}}">{{member.name}}</a>
                            </td>
                            <td>
                                {{member.total_contri}}
                            </td>
                            <td>
                                {{member.total_month_int}}
                            </td>
                            <td>
                                {{member.total_contri_w_int}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="row mb-4">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 gl-info">




    </div>
    <div class="col-lg-1"></div>
</div>


{% endblock %}


{% block javascript %}
<script>
    let group, i, o;
    let year = ["2019-10-15", "2019-10-31", "2019-11-15", "2019-11-30", "2019-12-15", "2019-12-31",
        "2020-01-15", "2020-01-31", "2020-02-15", "2020-02-28", "2020-03-15", "2020-03-31",
        "2020-04-15", "2020-04-30", "2020-05-15", "2020-05-31", "2020-06-15", "2020-06-30",
        "2020-07-15", "2020-07-31", "2020-08-15", "2020-08-31", "2020-09-15", "2020-09-30"];


    $('h5.contributions').click(function () {
        group = $(this).data('contributions');

        //console.log(year.length)
        $('div.gl-info').empty();
        for (o = 0; o < year.length; o++) {

            contributionMonth(group, year[o]);


            $('div.gl-info').append(
                '<div class="card mb-3">' +
                '<div class="card-header">' +
                '<h5>' + year[o] + '</h5>' +
                '</div>' +
                '<div class="card-body greener ' + year[o] + '">' +
                '</div>' +
                '</div>');
        }

    });

    $('h5.summary').click(function () {
        group = $(this).data('summary');

        $('div.gl-info').empty();

        $('div.gl-info').append(
            '<table class="table table-bordered greener">' +
            '<thead> <tr>' +
            '<th></th>' +
            '<th>Contri W/o Int</th>' +
            '<th>Amount Borrowed</th>' +
            '<th>Payment Received</th>' +
            '<th>Deficit</th>' +
            '<th>Int. Earned</th>' +
            '<th>Est. Int.</th>' +
            '<th>Total</th>' +
            '</tr> <thead>' +
            '<tbody class="summary-body"></tbody> </table>');


        for (o = 0; o < year.length; o++) {

            summaryMonth(group, year[o]);




        }

    });

    $('h5.borrow').click(function () {
        group = $(this).data('borrow');

        //console.log(year.length)
        $('div.gl-info').empty();
        for (o = 0; o < year.length; o++) {

            borrowMonth(group, year[o]);


            $('div.gl-info').append(
                '<div class="card mb-3">' +
                '<div class="card-header">' +
                '<h5>' + year[o] + '</h5>' +
                '</div>' +
                '<div class="card-body ' + year[o] + '">' +
                '</div>' +
                '</div>');
        }

    });

    $('h5.members').click(function () {
        group = $(this).data('members');

        //alert(group);
        $('div.gl-info').empty();
        members(group)
    });

    $(document).on('click', '.add-contri', function () {
        let id = $(this).data('id');
        let name = $(this).data('name');
        let group = $(this).data('group');

        console.log(name);
        $('input.id').val(id);
        $('input.name').val(name);
        $('input.group').val(group);
    });

    function members(group) {
        /*
        $('div.gl-info').empty();
        $('div.gl-info').append(
            '<table class="table table-bordered member-info">' +
            '<thead> <tr> <th>Name</th> </tr> </thead>' +
            '<tbody></tbody>'
        );

        $('table.member-info tbody').append(
            '{% for member in group_members %}' +
            '<tr>' +
            '<td>' + '{{ member.name }}' + '</td>' +
            '<tr>'+
            '{% endfor %}'
        );

        */

        $.get("Groupleader/members", { group: group }).done(function (data) {

            data = JSON.parse(data);
            //console.log(data);

            $('div.gl-info').append(
                '<table class="table table-bordered member-info text-center">' +
                '<thead> <tr> <th>Name</th> <th></th> </tr> </thead>' +
                '<tbody></tbody>'
            );
            for (i = 0; i < data.length; i++) {
                dataDetails = {
                    id: data[i]['id'],
                    name: data[i]['name'],
                    group: data[i]['belonging_group']
                };

                let link = 'member/edit/13'
                console.log(dataDetails);
                $('table.member-info tbody').append(
                    '<tr>' +
                    '<td>' + dataDetails.name + '</td>' +
                    '<td><button type="button" class="btn btn-primary add-contri" data-toggle="modal" data-target=".bd-example-modal-sm" data-id="' + dataDetails.id + '" data-name="' + dataDetails.name + '" data-group="' + dataDetails.group + '">Add Contri</button></td>' +
                    '<tr>'
                );

            }
        });

    }

    function contributions(group) {
        $.get("Groupleader/contributions", { group: group }).done(function (data) {

            data = JSON.parse(data);
            console.log(data);
            $('div.gl-info').append(
                '<table class="table table-bordered member-info">' +
                '<thead> <tr> <th>Name</th> <th>Contribution</th> <th>Date</th> </tr> </thead>' +
                '<tbody></tbody>'
            );
            for (i = 0; i < data.length; i++) {
                dataDetails = {
                    name: data[i]['name'],
                    contri: data[i]['contri'],
                    date: data[i]['contri_date']
                };
                console.log(dataDetails);
                $('table.member-info tbody').append(
                    '<tr>' +
                    '<td>' + dataDetails.name + '</td>' +
                    '<td>' + dataDetails.contri + '</td>' +
                    '<td>' + dataDetails.date + '</td>' +
                    '<tr>'
                );

            }
        });

    }

    function contributionMonth(group, month) {
        $.get("/Groupleader/contributionMonth", { group: group, month: month }).done(function (data) {

            data = JSON.parse(data);
            console.log(data);

            if (data.length > 0) {
                $('div.' + month).append(
                    '<table class="table table-bordered member-info text-center">' +
                    '<thead> <tr>' +
                    '<th>Name</th>' +
                    '<th>Contribution</th>' +
                    '<th>Total Contribution w/out Interest</th> ' +
                    '<th>This Month Interest</th> ' +
                    '<th>Total Interest</th> ' +
                    '<th>Total Contribution w/ Interest</th> ' +
                    '</tr> </thead>' +
                    '<tbody class="' + month + '"></tbody>'
                );
                for (i = 0; i < data.length; i++) {
                    dataDetails = {
                        name: data[i]['name'],
                        date: data[i]['contri_date'],
                        contri: data[i]['contri'],
                        total_contri_wout_int: data[i]['total_contri_wout_int'],
                        month_int: data[i]['month_int'],
                        total_int: data[i]['total_int'],
                        total_contri_w_int: data[i]['total_contri_w_int']
                    };

                    $('tbody.' + month).append(
                        '<tr>' +
                        '<td>' + dataDetails.name + '</td>' +
                        '<td>' + dataDetails.contri + '</td>' +
                        '<td>' + dataDetails.total_contri_wout_int + '</td>' +
                        '<td>' + dataDetails.month_int + '</td>' +
                        '<td>' + dataDetails.total_int + '</td>' +
                        '<td>' + dataDetails.total_contri_w_int + '</td>' +
                        '<tr>'
                    );

                }
            } else {
                $('div.' + month).append('<div class="text-center"> No Data </div>');
            }

        });

    }

    function summaryMonth(group, month) {
        $.get("/Groupleader/summaryMonth", { group: group, month: month }).done(function (data) {
            data = JSON.parse(data);
            console.log(data.length);

            if (data.length > 0) {


                for (i = 0; i < data.length; i++) {
                    dataDetails = {
                        contri_wout_int: data[i]['contri_wout_int'],
                        amount_borrow: data[i]['amount_borrow'],
                        payment_rcv: data[i]['payment_rcv'],
                        deficit: data[i]['deficit'],
                        interest_earned: data[i]['interest_earned'],
                        est_earned: data[i]['est_earned'],
                        total: data[i]['total']
                    };

                    $('tbody.summary-body').append(
                        '<tr>' +
                        '<td>' + month + '</td>' +
                        '<td>' + dataDetails.contri_wout_int + '</td>' +
                        '<td>' + dataDetails.amount_borrow + '</td>' +
                        '<td>' + dataDetails.payment_rcv + '</td>' +
                        '<td>' + dataDetails.deficit + '</td>' +
                        '<td>' + dataDetails.interest_earned + '</td>' +
                        '<td>' + dataDetails.est_earned + '</td>' +
                        '<td>' + dataDetails.total + '</td>' +
                        '<tr>'
                    );

                }

            } else {

            }
        });

    }

    function borrowMonth(group, month) {
        $.get("/Groupleader/borrowMonth", { group: group, month: month }).done(function (data) {
            data = JSON.parse(data);
            console.log(data);

            if (data.length > 0) {
                $('div.' + month).append(
                    '<table class="table table-bordered member-info text-center">' +
                    '<thead> <tr>' +
                    '<th>Name</th>' +
                    '<th>Date</th>' +
                    '<th>Principal</th> ' +
                    '<th>Payment</th> ' +
                    '<th>Remaining</th> ' +
                    '<th>Interest Acquired</th> ' +
                    '</tr> </thead>' +
                    '<tbody class="' + month + '"></tbody>'
                );
                for (i = 0; i < data.length; i++) {
                    dataDetails = {
                        name: data[i]['name'],
                        date_borrow: data[i]['date_borrow'],
                        principal: data[i]['principal'],
                        payment: data[i]['payment'],
                        remaining: data[i]['remaining'],
                        int_acquired: data[i]['int_acquired']
                    };

                    $('tbody.' + month).append(
                        '<tr>' +
                        '<td>' + dataDetails.name + '</td>' +
                        '<td>' + dataDetails.date_borrow + '</td>' +
                        '<td class="principal">' + dataDetails.principal + '</td>' +
                        '<td class="payment">' + dataDetails.payment + '</td>' +
                        '<td class="remaining">' + dataDetails.remaining + '</td>' +
                        '<td class="int_acquired">' + dataDetails.int_acquired + '</td>' +
                        '<tr>'
                    );



                }

                $('tr.total_' + month).remove();
                $('tbody.' + month).append(
                    '<tr class="total_' + month + '">' +
                    '<td colspan="2">Total </td>' +
                    '<td class="total_principal"></td>' +
                    '<td class="total_payment"></td>' +
                    '<td class="total_remaining"></td>' +
                    '<td class="total_int_acquired"></td>' +
                    '<tr>'
                );

                console.log('tr.total_' + month);

                let tabs = ['principal', 'payment', 'remaining', 'int_acquired'];

                for (t = 0; t < tabs.length; t++) {
                    $('div.' + month + ' td.' + tabs[t]).each(function () {
                        tdname = $(this).attr("class");
                        //console.log(tdname);
                        let sum = 0;
                        $('.' + tdname).each(function () {
                            values = parseFloat($(this).text());
                            sum += isNaN(values) ? 0 : values;

                            $('.total_' + tdname).text(sum);

                        });
                    });

                }



            } else {
                $('div.' + month).append('<div class="text-center"> No Data </div>');
            }

        });

    }


</script>

{% endblock %}