{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<style>
    .news {
        height: 300px;
        max-height: 330px;
        overflow-y: scroll;
        background: ivory;
    }

    .news::-webkit-scrollbar {
        width: .5em;
    }

    .news::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .news::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
</style>

<div class="col-sm-2">

</div>
<div class="col-sm-8 mb-4">

    <div class="card">
        <div class="card-body">
            <h1 class="mb-4">Welcome</h1>

            {% if current_user %}
            <div class="text-center">
                {{ current_user.name }}

            </div>
            <!--
    {% if announcements %}

    <div class="news">
        {% for annoucement in announcements %}
        <div class="card mb-5">
            <div class="card-header">
                <h4>{{ annoucement.title }}</h4>
            </div>
            <div class="card-body">
                {{ annoucement.message }}
            </div>
            <div class="card-footer">
                {{ annoucement.date }} - {{ annoucement.created_by }}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}

    -->
        </div>
    </div>

    {% else %}
    <a href="/signup/new">Sign up</a> or <a href="/login">log in</a>.
    {% endif %}


</div>
<div class="col-sm-2">

</div>
{% if current_user %}
{% if current_user.access_rights == 0 %}
<div class="col-sm-2">

</div>
<div class="col-sm-8">

    {% include 'LoanRecords.html '%}

</div>
<div class="col-sm-2">

</div>
{% elseif current_user.access_rights == 1 %}

<div class="col-sm-2"></div>

<div class="col-sm-8">

    {% include 'ContriRecords.html '%}

    {% include 'LoanRecords.html '%}

</div>

<div class="col-sm-2"></div>

{% elseif current_user.access_rights == 2 %}

<div class="col-sm-2"></div>
<div class="col-sm-8">

    {% include 'GroupRecords.html '%}
</div>
<div class="col-sm-2"></div>

<!--
    {% include 'ContriRecords.html '%}

    {% include 'LoanRecords.html '%}
-->
{% elseif current_user.access_rights == 9 %}

<div class="col-sm-2"></div>

<div class="col-sm-8">

    <div class="card mb-4">
        <div class="card-body">
            
            <div class="text-center mb-4">
                <h4>Admin Tools</h4>
            </div>
            <div class="form-group row mb-3">

                <div class="col-sm-1"></div>

                <button class="btn btn-success col-sm-4"
                    onclick="location.href='/admin/users/members';">Members</button>


                <div class="col-sm-2"></div>

                <button class="btn btn-success col-sm-4"
                    onclick="location.href='/admin/users/loan-form';">Loan Form</button>

                <div class="col-sm-1"></div>
            </div>

            <div class="form-group row mb-3">

                <div class="col-sm-1"></div>

                <button class="btn btn-success col-sm-4"
                    onclick="location.href='/admin/users/groups';">Groups</button>

                <div class="col-sm-2"></div>

                <button class="btn btn-success col-sm-4"
                    onclick="location.href='/admin/users/announcement-form';">Announcement Form</button>

                <div class="col-sm-1"></div>
            </div>

            <div class="form-group row mb-3">

                <div class="col-sm-1"></div>

                <button class="btn btn-success col-sm-4"
                    onclick="location.href='/admin/users/access';">Access</button>

                <div class="col-sm-2"></div>



                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-2"></div>
{% endif %}


{% endif %}
{% endblock %}