{% extends 'base.html' %}

{% block title %}Summary{% endblock %}

{% block body %}

<div class="row mb-4">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>
                    Summary
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="row mb-4">
    
    {% for term in terms %}
    <div class="col-12 col-lg-4 col-xl-4">

        <div class="card">
            <div class="card-body text-center">
                <a href="/summarys/term/{{ term.term }}">
                    <h4 class="">
                        {{ term.term }}
                    </h4>
                </a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block javascript %}

<script>

    let term, month;
    let tabs = ['contri', 'borrow', 'payment', 'deficit', 'earned', 'estimate', 'con_int'];

    $('button').click(function () {
        term = $(this).data('term');

        $('.term').empty();
        $('.term').append(term);
        //alert(term);
        months(term);
    });

    function months(year) {
        $.get("/summarys/termSummary", { term: year }).done(function (data) {

            data = JSON.parse(data);

            showSummary(year, data);

        });
    }

    function showSummary(date, data) {
        
    let contri = 0, borrow = 0, payment = 0, deficit = 0, earned = 0, estimate = 0, con_int = 0

        $('tbody.term-months').empty();

        for (let index = 0; index < data.length; index++) {

            dataDetails = {
                date :data[index]['date'],
                contri_wout_int: data[index]['contri_wout_int'],
                amount_borrow: data[index]['amount_borrow'],
                payment_rcv: data[index]['payment_rcv'],
                deficit: data[index]['deficit'],
                interest_earned: data[index]['interest_earned'],
                est_earned: data[index]['est_earned']
            };

            $('tbody.term-months').append(
                '<tr><td> ' + dataDetails.date +
                '</td> <td class="contri"> ' + dataDetails.contri_wout_int +
                '</td> <td class="borrow"> ' + dataDetails.amount_borrow +
                '</td> <td class="payment"> ' + dataDetails.payment_rcv +
                '</td> <td class="deficit"> ' + dataDetails.deficit +
                '</td> <td class="earned"> ' + dataDetails.interest_earned +
                '</td> <td class="estimate"> ' + dataDetails.est_earned +
                '</td> <td class="con_int"> ' + dataDetails.contri_wout_int + dataDetails.interest_earned +
                '</td> </tr>'
            );
            
            contri += dataDetails.contri_wout_int << 0;
            borrow += dataDetails.amount_borrow << 0;
            payment += dataDetails.payment_rcv << 0;
            deficit += dataDetails.deficit << 0;
            earned += dataDetails.interest_earned << 0;
            estimate += dataDetails.est_earned << 0;
            con_int += dataDetails.contri_wout_int + dataDetails.interest_earned << 0;

        }

        $('tbody.term-months').append(
            '<tr><td> TOTAL ' +
            '</td> <td class="total_contri"> ' + contri +
            '</td> <td class="total_borrow"> ' + borrow +
            '</td> <td class="total_payment"> ' + payment +
            '</td> <td class="total_deficit"> ' + deficit +
            '</td> <td class="total_earned"> ' + earned +
            '</td> <td class="total_estimate"> ' + estimate +
            '</td> <td class="total_con_int"> ' + con_int +
            '</td> </tr>'
        );
    }


</script>

{% endblock %}