{% extends 'base.html' %}

{% block title %}Contributions - Group Leader{% endblock %}

{% block body %}

<div class="row mb-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">

            <div class="card-header">
                <h5>Members Contributions</h5>
            </div>

            <div class="card-body">
                This page is where Group leader manages their members contributions.
            </div>

        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row mb-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            
        </div>
        <div class="col-lg-2"></div>
    </div>

{% endblock %}


{% block javascript %}

{% endblock %}