{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

<div class="col-lg-4">

</div>

<div class="col-lg-4">
    <h1>Log in</h1>

    <form action="/loan/public/login/create" method="post">

        <div class="form-group row">
            <label for="inputEmail" class="col-lg-4 col-form-label">Email address</label>
            <input type="email" class="col-lg-8 form-control-plaintext" id="inputEmail" name="email"
                placeholder="Email address" autofocus value="{{ email }}" />
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-lg-4 col-form-label">Password</label>
            <input type="password" class="col-lg-8 form-control-plaintext" id="inputPassword" name="password"
                placeholder="Password" />
        </div>
        <div class="form-group row">
            <div class="col-lg-4"></div>
            <label class="col-lg-8">
                <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Remember
                me
            </label>
        </div>

        <div class="form-group row">
            <div class="col-lg-4"></div>
            <button class="col-lg-8 btn btn-primary" type="submit">Log in</button>
            
        </div>

        <div class="form-group row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <a href="/loan/public/password/forgot">Forgot password?</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}