{% extends 'base.html' %}

{% block title %}Contributions{% endblock %}

{% block body %}

<div class="row mb-4">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>
                    My Contributions
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 col-lg-12 col-xl-12 mb-5">
        <div class="card">
            <div class="card-header d-flex">
                <h5>Borrow</h5>
                {% if borrow_list %}

                <button class="btn btn-success ml-auto" data-toggle="modal" data-target="#addPayment">Pay
                    Borrow</button>

                {% else %}
                <button class="btn btn-success ml-auto">Add
                    Borrow</button>

                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table text-center table-flush">
                    <thead>
                        <tr>
                            <th>
                                Borrow ID #
                            </th>

                            <th>
                                Date
                            </th>
                            <th>
                                Principal
                            </th>
                            <th>
                                Payment
                            </th>
                            <th>
                                Remaining
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for borrow in borrow_list %}
                        <tr>
                            <td>
                                <a href="/payment/view/{{ borrow.id}}">{{ borrow.id}}</a>

                            </td>
                            <td>
                                {{ borrow.date_borrow}}
                            </td>
                            <td class="principal">
                                {{ borrow.principal}}
                            </td>
                            <td class="payment">
                                {{ borrow.payment}}
                            </td>
                            <td class="remaining">
                                {{ borrow.remaining}}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>

                            <td class="font-weight-bold">
                                Total
                            </td>
                            <td>

                            </td>
                            <td class="total-principal">

                            </td>
                            <td class="total-payment">

                            </td>
                            <td class="total-remaining">

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}


{% endblock %}