{% extends 'base.html' %}

{% block title %}Borrow - {{term}} {% endblock %}

{% block body %}

<div class="row mb-4">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>
                    Borrow - Term - {{term}}
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="row">
    

    {% for month in term_months %}
    <div class="col-12 col-lg-3 col-xl-3">

        <div class="card">
            <div class="card-body text-center">
                <a href="/borrows/month/{{month.month_start }}">
                    <h5 class="">
                        {{month.month_start }}
                    </h4>
                </a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block javascript %}

{% endblock %}