{% extends 'base.html' %}

{% block title %}Borrow {{borrow_info[0].id}}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card mb-3">

            <div class="card-body d-flex">
                <h5 class="mr-auto">Borrow Info</h5>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-lg-4 col-xl-4 text-right">

                        <label class="font-weight-bold" for="">Name</label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 d-flex">

                        <label class="m-auto" for=""> {{ userInfo[0].name }} </label>

                    </div>


                    <div class="col-4 col-lg-4 col-xl-4 text-center">

                        <label class="font-weight-bold" for="">Total Deficit</label>

                    </div>
                </div>

                <div class="row">
                    <div class="col-4 col-lg-4 col-xl-4 text-right">

                        <label class="font-weight-bold" for="">Principal Amount</label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 d-flex">

                        <label class="m-auto" for=""> {{ borrow_info[0].principal }} </label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 text-center">

                        {% set k = payment_list|length - 1%}

                        <label for="">{{ payment_list[k].amount_to_be_paid }}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 col-lg-4 col-xl-4 text-right">

                        <label class="font-weight-bold" for="">Interest Rate</label>


                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 d-flex">

                        <label class="m-auto" for="">{{ borrow_info[0].interest_rate}}</label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 text-center">

                        <label for=""></label>

                    </div>
                </div>

                <div class="row">
                    <div class="col-4 col-lg-4 col-xl-4 text-right">

                        <label class="font-weight-bold" for="">Date Borrowed</label>

                    </div>


                    <div class="col-4 col-lg-4 col-xl-4 d-flex">

                        <label class="m-auto" for="">{{ borrow_info[0].date_borrow}}</label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 text-center">

                        <label for=""></label>

                    </div>
                </div>

                <div class="row">
                    <div class="col-4 col-lg-4 col-xl-4 text-right">

                        <label class="font-weight-bold" for="">Due Date</label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 d-flex">

                        <label for=""></label>

                    </div>

                    <div class="col-4 col-lg-4 col-xl-4 text-center">

                        
                        {% if payment_list[k].amount_to_be_paid != "Paid" %}

                        <button class="btn btn-success" data-toggle="modal" data-target="#addPayment">
                            Add Payment
                        </button>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body text-center">



                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date of Payment</th>
                            <th>Amount of Payment</th>
                            <th>Amount to be Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payment_list%}
                        <tr>
                            <td>
                                {{payment.date_of_payment}}
                            </td>
                            <td>
                                {{payment.amount_paid}}
                            </td>
                            <td>
                                {{payment.amount_to_be_paid}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="addPayment">
    <form action="/payment/payment" method="post">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Payment Form</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">

                    <input type="hidden" name="principal" value="{{ borrow_info[0].principal }}">
                    <input type="hidden" name="borrow_id" value="{{ payment_list[0].borrow_id}}">

                    <label for="date_to_pay">Date to Pay: </label>
                    <select name="date_to_pay" id="" class="form-control" required>
                        <option value=""></option>
                        {% for payment in payment_list%}

                        {% if payment.amount_paid == false %}

                        <option value="{{payment.date_of_payment}} - {{payment.id}} - {{payment.amount_to_be_paid}}">
                            {{payment.date_of_payment}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <label for="amount">Amount :</label>
                    <input type="text" name="amount" id="amount" class="form-control" required>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock %}


{% block javascript %}

{% endblock %}