{% extends 'base.html' %}

{% block title %} {{ user_info.name }} {% endblock %}

{% block body %}


<div class="row justify-content-md-center">

    <div class="col-12 col-lg-6 col-xl-6 mb-5">

        <div class="card">
            <div class="card-header">
                <h4>Member Info</h4>
            </div>
            <div class="card-body">
                <div class="form-inline text-center">
                    <label for="">Name :</label>
                    <label for="" class="font-weight-bold ml-3">{{ user_info.name }}</label>
                </div>

                <div class="form-inline">
                    <label for="">Group :</label>
                    <label for="" class="font-weight-bold ml-3">{{ user_info.belonging_group }}</label>
                </div>
            </div>
        </div>

    </div>



</div>

<div class="row">

    {% for term in term_list %}
    <div class="col-12 col-lg-12 col-xl-12 mb-5">
        <div class="card">
            <div class="card-header d-flex">
                <h5>Contribution for {{ term.term }}</h5>
                {% if user_info.belonging_group != 0 %}

                <button class="btn btn-success ml-auto" data-toggle="modal" data-target=".add-contribution">Add
                    Contribution</button>

                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table text-center table-flush">
                    <thead>
                        <tr>
                            <th>
                                Month
                            </th>
                            <th>
                                Contribution
                            </th>
                            <th>
                                Interest
                            </th>
                            <th>
                                Contribution + Interest
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        {% for contribution in contribution_list %}

                        
                        {% if term.term == contribution.term_id%}
                        <tr>
                            <td>
                                <a href="/contributions/edit/{{contribution.contribution_id}}">{{ contribution.contri_date}}</a>
                            </td>
                            <td class="contri">
                                {{ contribution.contri}}
                            </td>
                            <td class="month_int">
                                {{ contribution.month_int}}
                            </td>
                            <td class="total_contri_w_int">
                                {{ contribution.total_contri_w_int}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr>
                            <td class="font-weight-bold">
                                Total
                            </td>
                            <td class="total-contri">

                            </td>
                            <td class="total-month_int">

                            </td>
                            <td class="total-total_contri_w_int">

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    
    {% endfor %}

    <div class="col-12 col-lg-12 col-xl-12 mb-5">
        <div class="card">
            <div class="card-header d-flex">
                <h5>Borrow</h5>

                {% if user_info.belonging_group != 0 %}
                    <button class="btn btn-success ml-auto" data-toggle="modal" data-target="#addBorrowerForm">Add
                        Borrow</button>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table text-center table-flush">
                    <thead>
                        <tr>
                            <th>
                                Borrow ID #
                            </th>

                            <th>
                                Date
                            </th>
                            <th>
                                Principal
                            </th>
                            <th>
                                Payment
                            </th>
                            <th>
                                Remaining
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for borrow in borrow_list %}
                        <tr>
                            <td>
                                <a href="/borrows/view/{{ borrow.id}}">{{ borrow.id}}</a>

                            </td>
                            <td>
                                {{ borrow.date_borrow}}
                            </td>
                            <td class="principal">
                                {{ borrow.principal}}
                            </td>
                            <td class="payment">
                                {{ borrow.payment}}
                            </td>
                            <td class="remaining">
                                {{ borrow.remaining}}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>

                            <td class="font-weight-bold">
                                Total
                            </td>
                            <td>

                            </td>
                            <td class="total-principal">

                            </td>
                            <td class="total-payment">

                            </td>
                            <td class="total-remaining">

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>



<div class="modal fade bd-example-modal-sm add-contribution" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <form action="/contributions/add" method="post">
                <div class="modal-header">
                    <h5>Add Contri</h5>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">I.D</label>
                    <input type="text" class="form-control id" name="user_id" value="{{ user_info.id }}" disabled>
                    <input type="hidden" class="form-control id" name="user_id" value="{{ user_info.id }}">

                    <label class="col-form-label">Name</label>
                    <input type="text" class="form-control name" name="name" value="{{ user_info.name }}" disabled>
                    <input type="hidden" class="form-control name" name="name" value="{{ user_info.name }}">

                    <label class="col-form-label">Group</label>
                    <input type="text" class="form-control group" name="belonging_group"
                        value="{{ user_info.belonging_group }}" disabled>
                    <input type="hidden" class="form-control group" name="belonging_group"
                        value="{{ user_info.belonging_group }}">

                    <label class="col-form-label">Choose Term</label>
                    <select name="term" class="form-control">
                        <option value=""> -- Choose a Term -- </option>
                        {% for term in terms %}
                        <option value="{{ term.term }}"> -- {{ term.term }} -- </option>

                        {% endfor %}
                    </select>

                    <label class="col-form-label">Choose Month</label>
                    <select name="month" class="form-control">
                        <option value=""> -- Choose a Month -- </option>
                    </select>



                    <label class="col-form-label">How much?</label>
                    <input type="text" class="form-control" name="contri">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success m-auto">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="addPayment">
    <form action="/payment/payment" method="post">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Payment Form</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    <input type="hidden" name="principal" value="{{ borrowInfo[0].principal }}">
                    <input type="hidden" name="borrow_id" value="{{ paymentlist[0].borrow_id}}">
                    <input type="hidden" name="term" value="{{ borrowInfo[0].term_id }}">
                    
                    <label for="date_to_pay">Date to Pay: </label>
                    <select name="date_to_pay" id="" class="form-control" required>
                        <option value=""></option>
                        {% for payment in paymentlist%}

                        {% if payment.amount_paid == false %}

                        <option value="{{payment.date_of_payment}} - {{payment.id}} - {{payment.amount_to_be_paid}}">{{payment.date_of_payment}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <label for="amount">Amount :</label>
                    <input type="text" name="amount" id="amount" class="form-control" required>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal fade" id="addBorrowerForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add Borrower</h4>
            </div>
            <form action="/borrows/addBorrower" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">I.D</label>
                        <input type="text" class="form-control id" name="user_id" value="{{ user_info.id }}" disabled>
                        <input type="hidden" class="form-control id" name="user_id" value="{{ user_info.id }}">
                    </div>


                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input type="text" class="form-control name" name="name" value="{{ user_info.name }}" disabled>
                        <input type="hidden" class="form-control name" name="name" value="{{ user_info.name }}">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Group</label>
                        <input type="text" class="form-control group" name="group"
                            value="{{ user_info.belonging_group }}" disabled>
                        <input type="hidden" class="form-control group" name="group"
                            value="{{ user_info.belonging_group }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="inputBorrowDate" class="col-form-label">Date Borrow :</label>
                        <input type="date" class="form-control " id="inputBorrowDate" name="borrow_date" required />
                    </div>

                    <div class="form-group">
                        <label for="inputPrincipalAmount" class="col-form-label">Principal Amount :</label>
                        <input type="text" class="form-control" id="inputPrincipalAmount" name="borrow_amount"
                            required />
                    </div>

                    <div class="form-group">
                        <label for="inputMonthstoPay" class="col-form-label">Months to Pay :</label>
                        <input type="text" class="form-control" id="inputMonthstoPay" name="months_to_pay" required />
                    </div>

                    <div class="form-group">
                        <label for="inputInterest" class="col-form-label">Interest :</label>
                        <input type="text" class="form-control" id="inputInterest" name="borrow_interest" required />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success m-auto">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script>

    let tabs = ['contri', 'month_int'];

    for (t = 0; t < tabs.length; t++) {
        $(' td.' + tabs[t]).each(function () {
            tdname = $(this).attr("class");
            //console.log(tdname);
            let sum = 0;
            $('.' + tdname).each(function () {
                values = parseFloat($(this).text());
                sum += isNaN(values) ? 0 : values;

                $('.total-' + tdname).text(sum.toFixed(2));

            });
        });

    }


    $('select[name=term]').on('change', function () {
        console.log($(this).val());

        let term = $(this).val();

        console.log(months(term));
    });

    function months(year) {
        $.get("/terms/months", { term: year }).done(function (data) {

            data = JSON.parse(data);
            monthList(data)
            //console.log(data);

            /*
            for (let index = 0; index < data.length; index++) {

                $('div.months').append(
                    '<button type="button" class="btn btn-primary col-6 col-lg-6 col-xl-3 mb-1 mnth" data-month="' + data[index]['month_start'] + '">  ' + data[index]['month_start'] + ' </button>'
                );

            }
            */


        });
    }

    function monthList(months) {

        $('select[name=month]').empty();
        $('select[name=month]').append('<option value=""> -- Choose a Month -- </option>')

        for (let index = 0; index < months.length; index++) {

            $('select[name=month]').append(
                '<option value="' + months[index]['month_start'] + '"> -- ' + months[index]['month_start'] + ' -- </option>'
            );

        }
    }

</script>

{% endblock %}