<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>



    <div class="wrapper">

        <!-- Sidebar -->
        {% if current_user %}
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Loan</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if current_user.access_rights == 2%}
                <li>
                    <a href="/contributions/index">Contribution</a>
                </li>
                <li>
                    <a href="/summarys/index">Summary</a>
                </li>
                <li>
                    <a href="/borrows/index">Borrow</a>
                </li>
                {% endif %}
                {% if current_user.access_rights == 9%}
                <li>
                    <a href="#">Contact</a>
                </li>
                {% endif %}

                <li>
                    <a href="/account/manages">Account</a>
                </li>

                <li>
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>

        {% endif %}
        <!-- Page Content -->
        <div class="container-fluid mb-3">
            <div class="row header">
                <div class="col-lg-2"></div>
                <div class="col">

                    {% for message in flash_messages %}
                    <!-- <div class="alert"> -->
                    <div class="alert alert-{{ message.type }}">
                        {{ message.body }}
                    </div>
                    {% endfor %}

                </div>
                <div class="col-lg-2"></div>
            </div>

            {% block body %}
            {% endblock %}

        </div>
        <!--
        <div class="footer bg-primary">
            <div class=" text-center">&copy; all rights reserved 2019</div>
        </div>
        -->
    </div>


    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    {% block javascript %}
    {% endblock %}



</body>

</html>