<style>
    .group-records {
        overflow: auto;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: visible;
        /* prev group records display
        margin-left: 130px;
        */
    }

    .group-records td,
    .group-records th {
        white-space: nowrap;
        border: 1px solid black;
        padding: 10px 10px;
        height: 47px;
    }

    .group-records th.first-col {
        position: absolute;
        width: 130px;
        margin-left: -129px;
        background: #ffffff;
    }
</style>

<div class="card mb-4">
    <div class="card-body">
        <form action="/home/MonthDetails" method="GET">
            <select name="month" id="" class="form-control">
                <option value=""> -- Choose a Month -- </option>
                <option value="2019-08-15"> -- Aug 15 -- </option>
                <option value="2019-08-31"> -- Aug 31 -- </option>
                <option value="2019-09-15"> -- Sep 15 -- </option>
                <option value="2019-09-15"> -- Sep 15 -- </option>
                <option value="2019-09-30"> -- Sep 30 -- </option>
                <option value="2019-10-15"> -- Oct 15 -- </option>
                <option value="2019-10-31"> -- Oct 31 -- </option>
                <option value="2019-11-15"> -- Nov 15 -- </option>
                <option value="2019-11-30"> -- Nov 30 -- </option>
                <option value="2019-12-15"> -- Dec 15 -- </option>
                <option value="2019-12-31"> -- Dec 31 -- </option>
                <option value="2020-01-15"> -- Jan 15 -- </option>
                <option value="2020-01-31"> -- Jan 31 -- </option>
                <option value="2020-02-15"> -- Feb 15 -- </option>
                <option value="2020-02-28"> -- Feb 28 -- </option>
                <option value="2020-03-15"> -- Mar 15 -- </option>
                <option value="2020-03-31"> -- Mar 31 -- </option>
                <option value="2020-04-15"> -- Apr 15 -- </option>
                <option value="2020-04-30"> -- Apr 30 -- </option>
                <option value="2020-05-15"> -- May 15 -- </option>
                <option value="2020-05-31"> -- May 31 -- </option>
                <option value="2020-06-15"> -- Jun 15 -- </option>
                <option value="2020-06-30"> -- Jun 30 -- </option>
                <option value="2020-07-15"> -- Jul 15 -- </option>
                <option value="2020-07-31"> -- Jul 31 -- </option>
            </select>

            <input type="hidden" name="belonging_group" value="{{ current_user.belonging_group }}">

        </form>
    </div>
</div>
<div class="card mb-4">

    <div class="card-body group-records">

        <table>
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Contribution</th>
                    <th>Total Contri. w/o Int</th>
                    <th>This Month Int</th>
                    <th>Total Int</th>
                    <th>Total Contri. w/ Int</th>
                </tr>
            </thead>
            <tbody class="grp_mmbrs_cntr">



            </tbody>
        </table>

    </div>



</div>