<div class="card mb-4">

    <div class="card-body">

        {% if group_members %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <!--

                        for adjustment of dates needed
                        * for change of interface due to possible long information

                        start here
                    -->
                    <th>
                        Contribution
                    </th>
                    <th>
                        Estimated Earning
                    </th>
                    <th>
                        Actual Earning
                    </th>
                    <th>
                        Contri + Earning
                    </th>

                    <!-- until here-->
                </tr>
            </thead>
            <tbody>
                {% for group in group_members %}
                <tr>
                    <td>
                        {{ group.name}}
                    </td>

                    <!--

                        for adjustment of dates needed
                        * for change of interface due to possible long information

                        start here
                    -->
                    <td>
                        {{ contri.contri }}
                    </td>
                    <td>
                        {{ contri.contri_esti_earns }}
                    </td>
                    <td>
                        {{ contri.contri_act_earns }}
                    </td>
                    <td>
                        {{ contri.contri_plus_earns }}
                    </td>

                    
                    <!-- until here-->
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {% else %}

        <div class="text-center">
            Your members do not have Contribution made.
        </div>


        {% endif %}
    </div>



</div>