<style>

table {
    padding: 0;
    margin: 0;
}

</style>

<table align="center" style="color: black; font-size: 11px;">
    <tr height="5px">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>Username :</td>
        <td><b>%username%</b></td>
    </tr>
    <tr>
        <td>Password :</td>
        <td>
            <font face="courier new"><b>%password%</b></font>
        </td>
    </tr>
    <tr>
        <td>Time Limit :</td>
        <td><b>%timelimit%</b></td>
    </tr>
    <tr>
        <td>Validity :</td>
        <td>
            <font face="courier new"><b>%validity%</b></font>
        </td>
    </tr>
    <tr>
        <td>Price :</td>
        <td>
            <font face="courier new"><b>%price%</b></font>
        </td>
    </tr>
    <tr height="5px">
        <td colspan="3"></td>
    </tr>
</table>