<div class="card mb-4">
    <div class="card-body">

        {% if loan_info %}
        <div class="form-group row">
            <div class="col-lg-4 text-right">
                <label for="" class="font-weight-bold">Loan Amount:</label>
            </div>
            <label for="" class="col-lg-4">{{ loan_info.loan_amount }}</label>
        </div>

        <div class="form-group row">
            <div class="col-lg-4 text-right">
                <label for="" class="font-weight-bold">Loan Interset Rate:</label>
            </div>
            <label for="" class="col-lg-4">{{ loan_info.interestRate }}</label>
        </div>

        <div class="form-group row">
            <div class="col-lg-4 text-right">
                <label for="" class="font-weight-bold">Loan Date:</label>
            </div>
            <label for="" class="col-lg-4">{{ loan_info.loan_date }}</label>
        </div>

        <table class="table table-boredered">
            <thead>
                <tr>
                    <th>
                        Date Paid
                    </th>
                    <th>
                        Amount Paid
                    </th>
                    <th>
                        Amount Left
                    </th>
                    <th>
                        Month/s Paid
                    </th>
                    <th>
                        Month/s Left
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if loan_records %}

                {% for loan_record in loan_records %}
                <tr>
                    <td>
                        {{ loan_record.date_paid }}
                    </td>
                    <td>
                        {{ loan_record.amount_paid }}
                    </td>
                    <td>
                        {{ loan_record.amount_left }}
                    </td>
                    <td>
                        {{ loan_record.month_paid }}
                    </td>
                    <td>
                        {{ loan_record.month_left }}
                    </td>
                </tr>
                {% endfor %}

                {% else %}
                <tr class="text-center">
                    <td colspan="5">
                        No payment have made.
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>

        {% else %}
        <div class="text-center">
            No loan have made.
        </div>

        {% endif %}
    </div>
</div>